
    /* Estilo para el botón con el id 'btnInformacion' */
    #btnInformacion {
        background-color: #F44336;
        color: rgb(255, 255, 255);
    }

    /* Estilo para el botón con el id 'btnLimpiar' */
    #btnLimpiar {
        background-color: #383131;
        color: rgb(255, 255, 255);
    }
    
    .container {
        background-color: rgba(204, 181, 181, 0.7);
        padding: 20px;
        margin: 20px auto;
        max-width: 600px;
        text-align: center;
        border-radius: 10px;
        background-image: url('../img/servicio_web/9991675d2db5612531199c2fcfdc47ad.png');
        background-size: cover;
        background-position: center center;
            
    }
      
      .form-group label {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      #txtIndicador {
        font-size: 24px;
        

      }

      #visualizador{
            font-size: 30px; 
            background-color: #332c2c;
            color: rgb(255, 255, 255);
            
          }
          
    
      #btnInformacion,
      #btnLimpiar {
        margin-top: 10px;
      }
      
      #info {
        margin-top: 20px;
        font-size: 24px;
      }
     
      body {
        background-image: url('../img/servicio_web/pokemon-pixel-art-wallpaper-preview.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .error-mensaje {
      background-color: black;
      color: white;
      display: inline-block;
      padding: 5px;
      margin-top: 5px;
    }