{% extends 'Registro/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/agregar_trinket.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block contenido %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="content container">
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Registrar</button>
    </form>
</div>
</body>
</html>
{% endblock %}